In [ ]:
#%%

import quantstats        as qs
import yfinance          as yf
import pandas            as pd
import numpy             as np
import matplotlib.pyplot as plt

pd.options.mode.copy_on_write = True

In [ ]:
#%%

df_ = yf.download("SPY", start="1992-01-01", interval="1d", actions=True)

df_['Open'     ] = df_['Open'     ].round(4)
df_['High'     ] = df_['High'     ].round(4)
df_['Low'      ] = df_['Low'      ].round(4)
df_['Close'    ] = df_['Close'    ].round(4)
df_['Adj Close'] = df_['Adj Close'].round(4)

df_

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,,
1993-01-29,43.9688,43.9688,43.7500,43.9375,24.7637,1003200,0.0,0.0,0.0
1993-02-01,43.9688,44.2500,43.9688,44.2500,24.9399,480500,0.0,0.0,0.0
1993-02-02,44.2188,44.3750,44.1250,44.3438,24.9927,201300,0.0,0.0,0.0
1993-02-03,44.4062,44.8438,44.3750,44.8125,25.2569,529400,0.0,0.0,0.0
1993-02-04,44.9688,45.0938,44.4688,45.0000,25.3626,531500,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
2024-04-04,523.5200,523.8700,512.7600,513.0700,513.0700,96858100,0.0,0.0,0.0
2024-04-05,514.4600,520.4400,514.0100,518.4300,518.4300,74482100,0.0,0.0,0.0
2024-04-08,519.1500,520.1800,517.8900,518.7200,518.7200,48401800,0.0,0.0,0.0
2024-04-09,520.5000,520.7500,514.3500,519.3200,519.3200,68124400,0.0,0.0,0.0
2024-04-10,513.4800,516.1600,512.0900,514.1200,514.1200,82543700,0.0,0.0,0.0

In [ ]:
#%%

df_.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7855 entries, 1993-01-29 to 2024-04-10
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Open           7855 non-null   float64
 1   High           7855 non-null   float64
 2   Low            7855 non-null   float64
 3   Close          7855 non-null   float64
 4   Adj Close      7855 non-null   float64
 5   Volume         7855 non-null   int64
 6   Dividends      7855 non-null   float64
 7   Stock Splits   7855 non-null   float64
 8   Capital Gains  7855 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 613.7 KB

In [ ]:
#%%

df_[df_['Dividends']>0]

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,,
1993-03-19,45.2812,45.2812,45.0312,45.0312,25.5001,66900,0.213,0.0,0.0
1993-06-18,44.8438,44.8438,44.5000,44.5000,25.3778,58500,0.318,0.0,0.0
1993-09-17,45.8750,45.9062,45.7500,45.8125,26.2891,200900,0.286,0.0,0.0
1993-12-17,46.4062,46.5938,46.3750,46.5625,26.9024,104700,0.317,0.0,0.0
1994-03-18,46.7500,47.0312,46.7188,46.9688,27.2937,365500,0.271,0.0,0.0
...,...,...,...,...,...,...,...,...,...
2023-03-17,393.2200,394.4000,388.5500,389.9900,384.4231,140553400,1.506,0.0,0.0
2023-06-16,443.0200,443.6100,438.9700,439.4600,434.7961,114121300,1.638,0.0,0.0
2023-09-15,447.1400,447.4800,442.9200,443.3700,440.2119,111761400,1.583,0.0,0.0
2023-12-15,469.4900,470.7000,467.4300,469.3300,467.8763,141319300,1.906,0.0,0.0
2024-03-15,510.2100,511.7000,508.1200,509.8300,509.8300,107585800,1.595,0.0,0.0

In [ ]:
#%%

df_[df_['Stock Splits']>0]

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume, Dividends, Stock Splits, Capital Gains]
Index: []

In [ ]:
#%%

df_['FillPrice'] = df_['Open' ].shift(-1)
df_['Date'     ] = df_.index
df_['DateIn'   ] = df_['Date' ].shift(-1)
df_['DateOut'  ] = df_['Date' ].shift(-1)

df_.fillna(method='ffill', inplace=True)

<ipython-input-6-720fff6565e0>:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_.fillna(method='ffill', inplace=True)

In [ ]:
#%%

# Strategy backtester

def backtest(df_, test_number, ma_fast, ma_slow):
    print(f"Testing {test_number}, MA_FAST : {ma_fast}, MA_SLOW : {ma_slow}")
    df = df_.copy()

    df['EntrySetup'] = 0
    df['ExitRule'  ] = 0

    df['MaFast'] = df['Close'].rolling(ma_fast).mean()
    df['MaSlow'] = df['Close'].rolling(ma_slow).mean()

    df.dropna(inplace=True)

    df.loc[((df['MaFast']>df['MaSlow']) & (df['MaFast'].shift(1)<=df['MaSlow'].shift(1))), 'EntrySetup'] = 1
    df.loc[((df['MaFast']<df['MaSlow']) & (df['MaFast'].shift(1)>=df['MaSlow'].shift(1))), 'ExitRule'  ] = 1

    df.loc[df.index[ 0], 'EntrySetup'] = 1
    df.loc[df.index[-1], 'ExitRule'  ] = 1



    # Position tracking
    date_in          = None
    entry_fill_price = 0
    date_out         = None
    exit_fill_price  = 0
    position_history = []

    for index, row in df.iterrows():
        # EntrySetup
        if row['EntrySetup'] == 1:
            date_in          = row['DateIn'   ]
            entry_fill_price = row['FillPrice']
        # ExitRuel
        if row['ExitRule'  ] == 1:
            date_out        = row['DateOut'  ]
            exit_fill_price = row['FillPrice']
            pct_change      = (exit_fill_price - entry_fill_price)/entry_fill_price
            bars            = len(df[date_in:date_out])-1
            position_history.append((
                date_in, 
                date_out, 
                entry_fill_price, 
                exit_fill_price, 
                pct_change,
                bars
                ))

    position_df = pd.DataFrame(position_history, columns=['DateIn', 'DateOut', 'PriceIn', 'PriceOut', 'Return', 'Bars'])
    position_df = position_df.set_index(pd.DatetimeIndex(position_df['DateIn']))


    initial_capital = 10000.0

    df['Return'] = df['Close'].pct_change()

    df['StratReturn'] = 0.0
    for index, row in position_df.iterrows():
        sub_df = df[row['DateIn']:row['DateOut']]["Return"]
        df.loc[sub_df.index, 'StratReturn'] = sub_df

    df['GrowthFactor'] = (1 + df['StratReturn']).cumprod()
    df['DollarEquity'] = initial_capital*df['GrowthFactor']


    return {
        'final_capital'    : round(df.iloc[-1]['DollarEquity'], 2),
        'sharpe_ratio'     : round(qs.stats.sharpe(df['StratReturn']), 4),
        'maximum_drawdown' : round(qs.stats.max_drawdown(df['StratReturn']) * -100.0, 2),
        'win_rate'         : round(qs.stats.win_rate(df['StratReturn']), 4),
        'sortino_ratio'    : round(qs.stats.sortino(df['StratReturn']), 4),
        'cagr'             : round(qs.stats.cagr(df['StratReturn']), 4),
        'profit_factor'    : round(qs.stats.profit_factor(df['StratReturn']), 4),
        'prob_sr'          : round(qs.stats.probabilistic_sharpe_ratio(df['StratReturn']), 4),
    }

In [ ]:
#%%

# Parameter Optimization

counter       = 0
backtest_list = []

for ma_fast in range(10, 90, 10):
    for ma_slow in range(100, 350, 50):
        counter += 1
        result   = backtest(df_=df_, test_number=counter, ma_fast=ma_fast, ma_slow=ma_slow)
        backtest_list.append((
            counter,
            result['final_capital'   ],
            result['sharpe_ratio'    ],
            result['maximum_drawdown'],
            result['win_rate'        ],
            result['sortino_ratio'   ],
            result['cagr'            ], 
            result['profit_factor'   ],
            result['prob_sr'         ],
            ma_fast,
            ma_slow
        ))

backtests_df = pd.DataFrame(backtest_list,
                            columns=[
                                'test_number',
                                'Final Capital',
                                'Sharpe Ratio',
                                'Maximum Drawdown',
                                'Win Rate',
                                'Sortino Ratio',
                                'Compounded Annual Growth Rate',
                                'Profit Factor',
                                'Probabilistic Sharpe Ratio',
                                'Fast MA',
                                'Slow MA'
                            ])

backtests_df.set_index('test_number', inplace=True)

Testing 1, MA_FAST : 10, MA_SLOW : 100
Testing 2, MA_FAST : 10, MA_SLOW : 150
Testing 3, MA_FAST : 10, MA_SLOW : 200
Testing 4, MA_FAST : 10, MA_SLOW : 250
Testing 5, MA_FAST : 10, MA_SLOW : 300
Testing 6, MA_FAST : 20, MA_SLOW : 100
Testing 7, MA_FAST : 20, MA_SLOW : 150
Testing 8, MA_FAST : 20, MA_SLOW : 200
Testing 9, MA_FAST : 20, MA_SLOW : 250
Testing 10, MA_FAST : 20, MA_SLOW : 300
Testing 11, MA_FAST : 30, MA_SLOW : 100
Testing 12, MA_FAST : 30, MA_SLOW : 150
Testing 13, MA_FAST : 30, MA_SLOW : 200
Testing 14, MA_FAST : 30, MA_SLOW : 250
Testing 15, MA_FAST : 30, MA_SLOW : 300
Testing 16, MA_FAST : 40, MA_SLOW : 100
Testing 17, MA_FAST : 40, MA_SLOW : 150
Testing 18, MA_FAST : 40, MA_SLOW : 200
Testing 19, MA_FAST : 40, MA_SLOW : 250
Testing 20, MA_FAST : 40, MA_SLOW : 300
Testing 21, MA_FAST : 50, MA_SLOW : 100
Testing 22, MA_FAST : 50, MA_SLOW : 150
Testing 23, MA_FAST : 50, MA_SLOW : 200
Testing 24, MA_FAST : 50, MA_SLOW : 250
Testing 25, MA_FAST : 50, MA_SLOW : 300
Testing 26, MA_FAST : 60, MA_SLOW : 100
Testing 27, MA_FAST : 60, MA_SLOW : 150
Testing 28, MA_FAST : 60, MA_SLOW : 200
Testing 29, MA_FAST : 60, MA_SLOW : 250
Testing 30, MA_FAST : 60, MA_SLOW : 300
Testing 31, MA_FAST : 70, MA_SLOW : 100
Testing 32, MA_FAST : 70, MA_SLOW : 150
Testing 33, MA_FAST : 70, MA_SLOW : 200
Testing 34, MA_FAST : 70, MA_SLOW : 250
Testing 35, MA_FAST : 70, MA_SLOW : 300
Testing 36, MA_FAST : 80, MA_SLOW : 100
Testing 37, MA_FAST : 80, MA_SLOW : 150
Testing 38, MA_FAST : 80, MA_SLOW : 200
Testing 39, MA_FAST : 80, MA_SLOW : 250
Testing 40, MA_FAST : 80, MA_SLOW : 300

In [ ]:
#%%

backtests_df

,Final Capital,Sharpe Ratio,Maximum Drawdown,Win Rate,Sortino Ratio,Compounded Annual Growth Rate,Profit Factor,Probabilistic Sharpe Ratio,Fast MA,Slow MA
test_number,,,,,,,,,,
1,68896.37,0.5859,35.73,0.5433,0.8181,0.0442,1.1294,0.9994,10,100
2,67834.91,0.5775,28.18,0.5424,0.8033,0.0441,1.1264,0.9992,10,150
3,93869.35,0.6563,19.03,0.5451,0.9110,0.0521,1.1450,0.9998,10,200
4,86939.47,0.6273,20.49,0.5448,0.8684,0.0506,1.1371,0.9997,10,250
5,85041.54,0.6070,27.70,0.5433,0.8379,0.0504,1.1325,0.9995,10,300
6,47251.30,0.4730,40.02,0.5403,0.6520,0.0354,1.1040,0.9953,20,100
7,67222.23,0.5586,30.01,0.5432,0.7740,0.0439,1.1240,0.9989,20,150
8,98473.05,0.6445,30.11,0.5474,0.8865,0.0533,1.1462,0.9997,20,200
9,86499.41,0.6044,30.63,0.5449,0.8345,0.0505,1.1357,0.9994,20,250
10,103422.31,0.6400,33.35,0.5456,0.8845,0.0552,1.1428,0.9997,20,300
11,35991.72,0.3907,43.10,0.5408,0.5317,0.0291,1.0865,0.9839,30,100
12,58150.16,0.5093,31.59,0.5438,0.6975,0.0405,1.1136,0.9972,30,150
13,92499.42,0.6201,34.92,0.5469,0.8567,0.0518,1.1407,0.9996,30,200
14,78211.60,0.5744,36.82,0.5471,0.7903,0.0481,1.1288,0.9990,30,250
15,108873.80,0.6431,34.10,0.5463,0.8945,0.0564,1.1445,0.9997,30,300
16,50938.20,0.4719,31.93,0.5418,0.6478,0.0371,1.1060,0.9951,40,100
17,77189.84,0.5763,34.10,0.5457,0.7955,0.0471,1.1297,0.9991,40,150
18,93707.88,0.6180,34.10,0.5468,0.8594,0.0521,1.1409,0.9996,40,200
19,115943.63,0.6625,34.10,0.5492,0.9260,0.0576,1.1510,0.9998,40,250
20,107624.63,0.6381,34.10,0.5462,0.8908,0.0561,1.1434,0.9997,40,300
21,61200.17,0.5143,34.92,0.5436,0.7094,0.0414,1.1164,0.9975,50,100
22,86880.07,0.5979,34.10,0.5443,0.8355,0.0499,1.1360,0.9994,50,150
23,114716.74,0.6609,34.10,0.5475,0.9252,0.0569,1.1516,0.9998,50,200
24,104917.83,0.6359,34.10,0.5477,0.8876,0.0552,1.1447,0.9997,50,250
25,117371.07,0.6548,34.10,0.5460,0.9193,0.0582,1.1484,0.9998,50,300
26,60275.91,0.5115,34.10,0.5412,0.7107,0.0411,1.1167,0.9975,60,100
27,78828.06,0.5720,34.10,0.5431,0.7968,0.0476,1.1301,0.9991,60,150
28,107921.70,0.6409,34.10,0.5466,0.8969,0.0554,1.1473,0.9998,60,200
29,117877.66,0.6605,34.10,0.5477,0.9281,0.0580,1.1514,0.9998,60,250
30,87411.44,0.5824,37.87,0.5446,0.8142,0.0511,1.1312,0.9992,60,300
31,56585.51,0.4902,34.10,0.5404,0.6793,0.0396,1.1130,0.9964,70,100
32,77453.30,0.5641,34.10,0.5427,0.7873,0.0472,1.1297,0.9990,70,150
33,109220.04,0.6405,38.64,0.5462,0.8994,0.0557,1.1476,0.9998,70,200
34,100473.89,0.6175,35.57,0.5459,0.8680,0.0541,1.1408,0.9996,70,250
35,97186.08,0.6052,34.52,0.5450,0.8483,0.0537,1.1369,0.9995,70,300
36,49814.89,0.4580,34.10,0.5407,0.6337,0.0366,1.1051,0.9940,80,100
37,79590.08,0.5688,37.20,0.5419,0.7964,0.0479,1.1317,0.9991,80,150
38,102098.02,0.6211,35.38,0.5447,0.8734,0.0541,1.1428,0.9996,80,200
39,95181.80,0.6007,35.35,0.5450,0.8426,0.0528,1.1363,0.9994,80,250
40,105811.39,0.6224,34.10,0.5458,0.8737,0.0557,1.1411,0.9996,80,300